@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-image: url("../public/skylineBG.svg");
    height: 100dvh;
    width: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
        /* background-origin: border-box; */
}